.logoContainer {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
}

.logoSvg {
    height: 100%;
    width: auto;
}

.logoTitle {
    font-family: "source-serif-4", serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 900;
    margin: 0;
    padding: 0;
}