.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    padding: 0;
    width: auto;
    max-height: 90vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 0;
}

.header {
    position: sticky;
    top: 0;
    background: white;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.body {
    overflow-y: auto;
}

.footer {
    position: sticky;
    bottom: 0;
    background: white;
    border-top: 1px solid #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* Para alinear botones a la derecha */
    gap: 10px;
    /* Espacio entre botones */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.closeButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 16px;
    border: none;
    background: transparent;
    z-index: 1;
    border-radius: 4px;
    cursor: pointer;
}