.cancelButton {
    background-color: var(--color-danger);
}

.saveButton {
    background-color: var(--color-primary);
}

.button {
    color: white;
    padding: var(--spacing-sm) var(--spacing-md);
    /* Equivalente a px-4 py-2 */
    border-radius: var(--radius-md);
    /* Equivalente a rounded */
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color var(--transition-normal);
}

.button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.cancelButton:hover:not(:disabled) {
    background-color: var(--color-danger-dark);
    /* Rojo más oscuro al hover */
}

.cancelButton:active:not(:disabled) {
    background-color: var(--color-danger-darker);
    /* Rojo aún más oscuro al hacer clic */
}

.cancelButton:focus:not(:disabled) {
    outline: none;
    box-shadow: 0 0 0 3px var(--color-danger-light);
    /* Sombra para focus */
}

.saveButton:hover:not(:disabled) {
    background-color: var(--color-primary-dark);
}

.saveButton:active:not(:disabled) {
    background-color: var(--color-primary-darker);
}

.saveButton:focus:not(:disabled) {
    outline: none;
    box-shadow: 0 0 0 3px var(--color-primary-light);
}