.serviceProvider-page {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
}

.serviceProvider-header {
    position: relative;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.serviceProviderContent {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.serviceProvider-image {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.serviceProvider-info {
    position: relative;
    display: flex;
    flex-direction: column;
}

.services {
    position: relative;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 50px 0;
}

.serviceProvider-enterpriseName {
    position: relative;
}

.services-tarjet {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 550px;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.aboutMe {
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
}

.gallery-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 16px;
}

.gallery {
    position: relative;
}

.gallery img {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 10px;
}