.spPage {
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    align-items: flex-start;
}

.mainContent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 1024px) {
    .spPage {
        grid-template-columns: 1fr;
        padding: 1rem;
    }
}

@media (max-width: 768px) {
    .spPage {
        padding: 1rem;
    }
} 